.text-primary {
    color: #171717;
  }
  .text-second {
    color: #171717b3;
  }
  tr {
    height: 80%;
  }
  td {
    padding: 8px;
    font-weight: 500;
  }
  p {
    color: #171717;
  }
  span {
    font-weight: 600;
    font-size: 20px;
  }
  td,
  tr,
  th,
  thead,
  tbody {
    border: 1px solid #171717b3;
  }
  h1 {
    color: #2200ff;
  }
  h3 {
    color: rgb(12, 196, 209);
  }
  .title {
    color: #bcb603;
    font-size: 32px;
  }